<app-header-component></app-header-component>
<div class="min-h-screen bg-[#f8fafc] font-sans">
    <main class="max-w-360 mx-auto px-10 py-8">
        <div class="grid grid-cols-12 gap-8">

            <!-- Left Sidebar -->
            <aside class="col-span-3">
                <app-filter-sidebar></app-filter-sidebar>
            </aside>

            <!-- Main Content Area -->
            @if (shopfacade.productsResource.value(); as PaginatedResults) {
            <div class="col-span-9">
                <!-- Top Controls -->
                <div class="flex justify-between items-center mb-6">
                    <span class="text-sm text-gray-500 font-medium">Showing
                        {{PaginatedResults.items.length}} of
                        {{PaginatedResults.totalCount}} products</span>
                    <div class="flex items-center space-x-2 text-sm font-medium">
                        <span class="text-gray-500">Sort by:</span>
                        <select
                            class="bg-white border border-gray-200 rounded-lg py-1.5 px-3 focus:outline-none focus:ring-2 focus:ring-blue-100 font-bold text-[#0b132b]">
                            <option>Newest Arrivals</option>
                            <option>Price: Low to High</option>
                            <option>Price: High to Low</option>
                        </select>
                    </div>
                </div>

                @if (shopfacade.productsResource.isLoading()) {

                <div class="loading-state">
                    <div class="spinner"></div>
                    <p>Loading products...</p>
                </div>

                } @else if (shopfacade.productsResource.error()) {

                <div class="error-state">
                    <p>Failed to load products. Please try again.</p>
                </div>

                } @else {
                <!-- Product Grid -->
                <div class="grid grid-cols-3 gap-6 mb-10 min-h-100">
                    @for (product of PaginatedResults.items; track $index) {
                    <app-product-card [product]="product" (addToCart)="shopfacade.addToCart($event)"></app-product-card>
                    }
                </div>
                }
                
                <app-pagination-component [metadata]="PaginatedResults" (pageChange)="shopfacade.changePage($event)"></app-pagination-component>

            </div>
            }
        </div>
    </main>
</div>