<div class="bg-white rounded-2xl border border-gray-200 p-8 shadow-sm">
    <h2 class="text-2xl font-bold text-[#0b132b] mb-6">Order Summary</h2>

    <!-- Breakdown -->
    <div class="space-y-4 mb-6">
        <div class="flex justify-between text-gray-600">
            <span>Subtotal</span>
            <span class="text-[#0b132b] font-medium">{{ subtotal() | currency }}</span>
        </div>
        <div class="flex justify-between text-gray-600">
            <span>Shipping</span>
            <span class="text-[#326e51] font-semibold">{{ total() > 100 ? "Free" : 20 | currency}}</span>
        </div>
        <div class="flex justify-between text-gray-600">
            <span>Estimated Tax</span>
            <span class="text-[#0b132b] font-medium">{{ tax() | currency }}</span>
        </div>
    </div>

    <!-- Total -->
    <div class="border-t border-gray-200 pt-6 mb-8 flex justify-between items-end">
        <span class="text-xl font-bold text-[#0b132b]">Total</span>
        <span class="text-2xl font-extrabold text-[#0b132b]">{{ total() | currency }}</span>
    </div>
    <!-- Checkout Action -->
    <button (click)="handleConfirmOrder()"
        class="w-full bg-[#326e51] text-white py-3.5 rounded-lg font-bold flex items-center justify-center hover:bg-[#25523c] transition-colors mb-4">
        Confirm Order
        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
    </button>

    <p class="text-center text-xs text-gray-500 font-medium">Free shipping on orders over $100</p>
</div>